<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a new potential</h4>
            </div>
            <div class="modal-body">
              {{partial currentSlide}}
            </div>
            <div class="modal-footer">
              {{partial 'components/create-potential/helpers/action-bar'}}
            </div>
        </div>
    </div>
</div>
