<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
	{{#if files.logo.available}}
    <img src="{{files.logo.url}}" alt="Company Logo" style="width: 350px"/>
	{{/if}}
</center>

<br />

<h1 class="slide-introduction prepared-for">
    <center>Prepared For</center>
</h1>
<h2 class="slide-introduction prepared-for-subtitle">
    <center>{{proposal.potential.potentialName}}</center>
</h2>
<h2 class="slide-introduction prepared-for-subtitle">
    <center>{{proposal.potential.address}}</center>
</h2>
<br />
