<h1>
    <center>Panel Layout</center>
</h1>

<br />
<br />

<center>
    {{#if proposal.panelLayoutFile.available}}
      <img src="{{proposal.panelLayoutFileUrl}}" alt="Panel layout" style="max-width: 650px"/>
    {{else}}
      No panel layout uploaded.
    {{/if}}
</center>