<div class="col-md-12">
    <h4>Selected proposal: {{proposal.name}}</h4>

    <div class="step-container">
      {{proposal/preview-bar proposal=proposal settings=settings cloneProposal="cloneProposal" acceptProposal="acceptProposal"}}
    </div>
</div>
