<div>
    <form id="project-design-form">
        <div class="form-group">
            <label for="price-per-watt">Price per watt</label>
          {{ input type="text" value=project-design.pricePerWatt class="form-control" name="price-per-watt" id="price-per-watt" placeholder="Price per watt" focus-out="updateData" }}
        </div>
    </form>
</div>
