<div class="modal fade" id="loan{{model.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Loan Option</h4>
            </div>
            <div class="modal-body">
                {{partial 'setup/partials/loan-form'}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                {{promise-button promise=model.updatePromise label="Save changes" action="updateLoan" actionParam=model}}
            </div>
        </div>
    </div>
</div>