<form>
    <div class="form-group">
        <label for="exampleInputEmail1">House area</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="House area">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Geographic position</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Geographic position">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Pool dimensions</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Pool dimensions">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Something nice</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Something nice">
    </div>
</form>
