<div class="get-started">
    <div class="get-started-preview">
      {{proposal/preview-bar proposal=proposal settings=settings}}
    </div>
    <div class="get-started-content">
        <div class="col-md-12">
          {{yield}}
        </div>
    </div>
</div>

