<div class="full-size">
	<div class="full-size splash-wrapper">
		<div>
			<div><img src="images/logo-large.png" width="490" height="auto" /></div>
			{{#link-to "more"}}Learn More{{/link-to}}
		</div>
	</div>
</div>