<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/slide-1.png"/>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br/>

    <div class="row">

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">About</div>
                <div class="panel-body">
                    Fully integrated with our robust CRM, Suntrific Connect’s proposal tool eliminates redundant data
                    entry and allows you to save and email proposals directly from the the tool. You no longer need to
                    copy data back to the CRM as all data auto-syncs with the CRM in real time. The collaborative design
                    interface and dynamic presentation allows for quick customization right in front of your customer.
                    You can easily add new products (Solar and Energy Efficiency) and customize savings per market.
                    There is no need to manually write up contracts, our software will do it for you!
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Updates</div>
                <div class="panel-body">
                    <ul class="new-features">
                        <li>Fully integrated proposal tool with CRM</li>
                        <li>Automated Contracts</li>
                        <li>Job Tracking</li>
                        <li>Workflow Automation</li>
                        <li>New Customer Updates</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Support</div>
                <div class="panel-body">
                    You can reach out to our support team below <br/>
                    520-447-3737 <br/>
                    support@suntrific.com <br/>
                    <a href="http://support.suntrific.com" target="_blank">Support Center</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Request a Feature</div>
                <div class="panel-body">
                    Have you thought of a new feature to add? If so, let us know!
                    <br/>
                    <a href="http://suntrific.com/new-features/" target="_blank">Feature Request</a>
                </div>
            </div>
        </div>
    </div>

</div>
